<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
<div class="container">
<h1>Coronavirus Tracker</h1>
<p>This application lists the current numbers of cases reported in US.</p>



<div class="jumbotron">
    <h1 class="display-4" th:text="${#numbers.formatInteger(totalReportedCases, 3, 'DEFAULT')}"></h1>
    <p class="lead">Total cases reported based on <a href="https://github.com/CSSEGISandData">JHU</a> data sets (not real time)

    </p>
    <hr class="my-4">
    <p>Total new cases reported since previous day:
        <span th:text="${#numbers.formatInteger(totalNewCases, 3, 'DEFAULT')}"></span>
    </p>

</div>

<table id="myTable" class="table table-light table-hover table-striped">
    <tr>
        <th onclick="sortTable(0)">State</th>
        <th onclick="sortTable(1)">Country</th>
        <th onclick="sortTableNum(2)">Total Cases Reported</th>
        <th onclick="sortTableNum(3)">Changes from Prev Day</th>
        <th>Updated Date</th>
    </tr>
    <tr th:each="locationStat : ${locationStats}">
        <td th:text="${locationStat.state}"></td>
        <td th:text="${locationStat.country}"></td>
        <td th:text="${locationStat.latestTotalCases}">0</td>
        <td th:text="${locationStat.diffFromPrevDay}">0</td>
        <td th:text="${locationStat.curDate}"></td>
    </tr>
</table>
    <!-- hitwebcounter Code START -->
    <p>You are the
    <a href="https://www.hitwebcounter.com" target="_blank">
        <img src="https://hitwebcounter.com/counter/counter.php?page=7205931&style=0025&nbdigits=6&type=page&initCount=0" title="User Stats" Alt="webcounterwebsite"   border="0" >
    </a>th visitor to this site!
    </p>
</div>
</body>

<script type="text/javascript" th:src="@{/main.js}">

</script>
</html>